<?xml version="1.0" encoding="UTF-8" ?>
<config>

<source>
<host></host>
<user></user>
<password></password>
<name></name>
</source>


<target>
<host></host>
<user></user>
<password></password>
<name></name>
</target>


<staging>
<host></host>
<user></user>
<password></password>
<name></name>
</staging>

<storage>
<tmp></tmp>
<var></var>
</storage>
</config>